
.post-container {
    display: flex;
    flex-direction: column;
    width: 30vw;
    min-width: 350px;
    box-shadow: 0 1px 5px rgba(125, 125, 125, 0.29);
    border-radius: 12px;
    gap: 22px;
    padding: 22px;
    background-color: rgba(237, 237, 237, 0.98);
}

.likes-container {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 12px;
}
.likes-icon {
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.likes-icon:hover {
    transform: scale(1.1)
}

